#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #fbfefe;
  color: #4b5563;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #6365f165;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6365f16c;
}

::-webkit-scrollbar-thumb:hover {
  background: #6365f1cb;
}

